<div class="row">
  <div class="span12">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error" %>
        <%= flash[:error] %>
      </div>
    <% end %>
    <h1>Edit Client for <%= @project.title %></h1>
      <%= render 'edit_client_form' %>
       <br>
    <%= link_to "Back", project_path(@project) %>
  </div>
</div>
