<div class="row">
  <div class="span12">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error" %>
        <%= flash[:error] %>
      </div>
    <% end %>
    <h1>Projects</h1>
    <table class="table table-striped">
      <thead>
        <th>Title</th>
        <th>Client</th>
        <th>Budget</th>
        <th>Weekly Rate</th>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to "#{project.title}", project_path(project) %></td>
            <% if project.client %>
              <td><%= link_to "#{project.client.email}", edit_client_path(project) %></td>
            <% else %>
              <td><%= link_to "Add client", new_client_path(project) %></td>
            <% end %>
            <td><%= project.budget %></td>
            <td><%= project.weekly_rate %></td>
            <td><%= link_to "Edit", edit_project_path(project) %></td>
            <td><%= link_to "Delete", project_path(project), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "New Project", new_project_path %>
  </div>
</div>
