<div class="row">
  <div class="span12">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error" %>
        <%= flash[:error] %>
      </div>
    <% end %>
    <h1><%= @project.title %></h1>
    <table class="table table-striped">
      <thead>
        <th>Client</th>
        <th>Budget</th>
        <th>Weekly Rate</th>
      </thead>
      <tbody>
        <td><%= @project.client.email %></td>
        <td><%= @project.budget %></td>
        <td><%= @project.weekly_rate %></td>
      </tbody>
    </table>
    <%= link_to "Back", projects_path %>
  </div>
</div>
