<div class="row">
  <div class="span12">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error" %>
        <%= flash[:error] %>
      </div>
    <% end %>
    <h1><%= @project.title %></h1>
    <% if @project.client == nil %>
      <p><strong>Client:</strong> <%= link_to "Add Client", new_client_path(@project) %></p>
    <% else %>
      <p><strong>Client:</strong> <%= @project.client.email %></p>
    <% end %>
    <p><strong>Budget:</strong> <%= @project.budget %></p>
    <p><strong>Weekly Rate:</strong> <%= @project.weekly_rate %></p>
    <% if @project.user_stories.length > 0 %>
      <table class="table table-striped">
          <thead>
            <th>Status</th>
            <th>Title</th>
            <th>Story</th>
            <th>Complexity</th>
            <th>Estimate</th>
            <th>Developer</th>
          </thead>
          <tbody>
            <%= render 'story_status' %>
          </tbody>
        </table>
      <% end %>
      <br>
    <%= link_to "Add User Stories", new_project_user_story_path(@project) %>
    <br>
    <%= link_to "Back", projects_path %>
  </div>
</div>
